{% extends "holdingcore_app/layout.html" %}
{% load static %}

{% block body %}

  <!-- Page Header Start -->
  <div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contact Us</h2>
            </div>
            <div class="col-12">
                <a style="cursor: none; color: #ffffff">We’d Love to Hear from You!</a>
                <!-- <a href="">Contact</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Get In Touch</p>
            <h2>Contact for any query</h2>
        </div>
        <!-- <div class="contact-img">
            <img src="img/contact.png" alt="Image">
        </div> -->
        <div class="row contact-wrapper">
            <div class="col-md-6">

                <div class="contact-form">
                    <h5>For inquiries, partnerships, or to learn more about our programs, reach out to us:
                    </h5>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name"
                                required="required" data-validation-required-message="Please enter your full name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="message" name="message" placeholder="Message"
                                required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="contact-details">
                    <h3>Contact Information</h3>
                    <div class="info-item">
                        <strong>Address:</strong>
                        <p>Heirs Place, 1 MacGregor Road, Ikoyi, Lagos, Nigeria</p>
                    </div>
                    <div class="info-item">
                        <strong>Phone Number:</strong>
                        <p>+234-1-2774641-5</p>
                    </div>
                    <div class="info-item">
                        <strong>Email:</strong>
                        <p>info@holdingcorefoundation.org</p>
                    </div>
                    <div class="social-links mt-4">
                        <a href="https://www.facebook.com/holdingcorengo" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/holdingcorengo" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/holdingcorengo" target="_blank"><i
                                class="fab fa-x-twitter"></i></a>
                        <a href="https://www.tiktok.com/@holdingcorengo" target="_blank"><i
                                class="fab fa-tiktok"></i></a>
                        <a href="https://www.youtube.com/@holdingcorengo" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        <a href="https://www.threads.net/@holdingcorengo" target="_blank"><i
                                class="fab fa-threads"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->



{% endblock %}