<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
 <style>
    section {
        display: flex;
        gap: 20px;
      justify-content: space-between;
    }
 </style>

    <section>
        <div class="container">
            <div class="img">
                <img src="/holdingcore/media/blog_images/blog-1_9zRmjKQ.png" alt="img">
            </div>
        
            <div class="content">
                <h3>Title</h3>
                <p>Description</p>
            </div>    
        </div>
    
        <div class="container">
            <div class="img">
                <img src="/holdingcore/media/blog_images/blog-1_9zRmjKQ.png" alt="">
            </div>
        
            <div class="content">
                <h3>Title</h3>
                <p>Description</p>
            </div>    
        </div>
    
        <div class="container">
            <div class="img">
                <img src="/holdingcore/media/blog_images/blog-1_9zRmjKQ.png" alt="">
            </div>
        
            <div class="content">
                <h3>Title</h3>
                <p>Description</p>
            </div>    
        </div>
    </section>
   

    


</body>
</html>